@charset "UTF8";
@font-face {
    font-family: student;
    src: url('../fontes/KGPrimaryItalics.ttf') format('truetype');
   
}
:root{
    --font-student: student, 'sans-serif';
    --font-destaque:Arial,'sans-serif';
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    max-height: 25vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5vh;
    
}
header >h1{
    padding-top: 7vw;
    font-size: 7vw;
    margin-bottom: 12px;
    
}
header > p{
    font-weight: bolder;
}
body a{
    color:  white;
    text-decoration: none;
    font-weight: bolder;
}
body a:hover{
    text-decoration: underline;
}

main{
    font-family:var(--font-student);
    
    font-size: 5vw;
   
    
}
main section{
    padding: 10vw 5vw;
}
main p{
    text-align: justify;
    line-height: 8vw;
    
}
#imagem1{
    
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 30px;
    
    
}
#imagem1 > p{
    
    background-color: rgba(0, 0, 0, 0.397);
    
    color: white;
    width: 48vw;
    
    
}
#imagem2{
    background-image: url(../imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
#imagem2 >p{
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
    width: 48vw;
}
#imagem03{
    background-image: url(../imagens/background003.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;
}
#imagem03 >p{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    width: 48vw;
}
.normal >p{
    background-color: white;
    margin-bottom: 7vw;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 5vw;
    padding-top: 3vw;
    padding-bottom: 3vh;

}
footer >p{
    padding: 5px;
}